[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RainfallErosivityFactor"]
	path = RainfallErosivityFactor
	url = https://github.com/cran/RainfallErosivityFactor
